{% extends 'default.html.twig' %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Resume</th>
                <th scope="col">Creation date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.subject }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.createdAt|date('d-m-Y') }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_post_view', {'post': post.id}) }}">View</a>
                    <a class="btn btn-primary" href="{{ path('app_post_update', {'post': post.id}) }}">Update</a>
                    <a class="btn btn-danger" href="{{ path('app_post_delete', {'post': post.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

